li {
	color: #919aaf
}

.project .right p {
	margin-bottom: 0;
}

.marginheader {
	margin-top: 50px;
}

.project-2 {
    padding: 120px 0;
}

.white {
	background-color: #fefefe;
}

.less-white {
	background-color: #f1f7ff;
}


.grey {
	color: #919aaf
}

.spacer-50 {
	margin-top: 50px;
}
.spacer-150 {
	margin-top: 150px;
}

.padding-30 {
	padding-top:30px;
}

.benefits .line-margin20 {
    background: linear-gradient(to right, #507bf5 0%,#04c3e1 100%);
    height: 2px;
    width: 50px;
    margin-bottom: 20px;
    display: inline-block;
}


.carousel-indicators li {
    background-color: #2e3444;
}


.carousel-indicators .active {
    background-color: #FACC62;
}

.contact .content .info {
    margin-top: 0px;
}


#subheading-1 {
	font-variant: small-caps;
	color:white;
}

.carousel-indicators {
    top: 50px;
}


.btn-1 {
    background: #10316B;
    box-shadow: 1px 1px 30px 0 rgba(0,0,0,0.2);
    text-decoration: none;
    color: #ffffff;
    border-radius: 65px;
    padding: 10px 45px;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
}
.btn-2 {
    background: transparent;
    border: 1px solid #222;
    text-decoration: none;
    color: #222;
    border-radius: 65px;
    padding: 10px 45px;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
}

.slider .content .left .btn-1 {
    background: #FACC62;
    box-shadow: 1px 1px 30px 0 rgba(0,0,0,0.2);
    text-decoration: none;
    color: #ffffff;
    border-radius: 65px;
    padding: 10px 45px;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
}

.btn-1:hover {
    text-decoration: none;
    color: #fff;
}
.btn-2:hover {
    text-decoration: none;
    color: #222;
}


.margin-bottom-30 {
	margin-bottom: 30px;
}

.navbar .nav-item .social-link {
	margin-left: 20px;
}


.navbar {
    background: linear-gradient(to right, #3061ad 0%,#10316B 100%);
}

.slider {
    background: linear-gradient(to right, #3061ad 0%,#10316B 100%);
    height: 100vh;
}

.slider .content .left h1 {
    color: #FACC62;
}